/* Customize the navigation bar buttons */
.navbar .navbar-nav {
    margin-right: 0; /* Remove the default margin */
}
.navbar .nav-item {
    margin: 0 10px; /* Add horizontal spacing to buttons */
    border: none; /* Remove borders from buttons */
}
.navbar .nav-link {
    padding: 0.5rem 1rem; /* Adjust button padding */
}
.buttons-list{
    position: fixed;
    bottom: 0px;
    left: 20px;
    list-style: none;
    border: none;
    padding: 10px 20px;
}
/* "Back to the Top" button styles */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border: none;
    /* border-radius: 50%; */
    padding: 10px 20px;
    cursor: pointer;
    z-index: 99; /* Make sure it does not overlap */
}
.small-image {
    width: 3vw;
    height: auto;
    padding-top: 1vw;
}
.fullscreen-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.centered-text {
    text-align: center;
}
.align-left  {
    text-align: left;
}
.align-right {
    text-align: right;
}
.hard-width{
    width: 60%;
    word-wrap: break-word;
}
.h1-big {
    font-size: 7.5vw;
}
.p-big {
    font-size: 2.5vw;
}
.h1-medium-section h1{
    font-size: 3.5vw;
}
.p-medium-section p{
    font-size: 1.5vw;
}
.text-size-medium {
    font-size: 1.5vw;
}
.text-size-small {
    font-size: 1vw;
}