{% load custom_tags %}


<p>{{ section.text|markdown_to_html|safe }}</p>
<br>
<div id="accordion">
    {% for entry in section.resumeentry_set.all %}
    <div class="card">
        <div class="card-header" id="heading{{entry.id}}">
            <h5 class="mb-0">
                <button class="btn btn-link text-size-medium align-left" data-toggle="collapse"
                    data-target="#collapse{{entry.id}}" aria-expanded="true" aria-controls="collapse{{entry.id}}">
                    {{entry.position}} @ {{entry.workplace}}
                </button>
            </h5>
        </div>
        <div id="collapse{{entry.id}}" class="collapse" aria-labelledby="heading{{entry.id}}" data-parent="#accordion">
            <div class="card-body align-left">
                {{ entry.start_date|date:"F Y" }} - {% if entry.end_date %}{{ entry.end_date|date:"F Y" }}{%else%}Current{% endif %} <br><br>
                {{ entry.description|markdown_to_html|safe }}
                <br>
                {% if entry.link %}
                    <a href="{{ entry.link }}" target="_blank"> {{entry.link_text}} </a> <br>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>